#content-section-github-repos {
  & #projects-github-repos-list {
    & .repo {
      border: 1px solid var(--content-accent-font-color);
      transition: $borderColorTransition;
      list-style-type: none;
      margin-bottom: 0.4rem;

      & > a {
        padding: 0.5rem;

        &:last-of-type {
          margin-bottom: 0;
        }
        .repo-name {
          text-transform: uppercase;

          & > .repo-main-language {
            text-transform: initial;
            font-size: .8em;
          }
        }
        .repo-description {
          margin: 0.5rem 0;
          &::before {
            content: '> ';
          }
        }
        .repo-stats {
          width: max-content;
          background-color: rgba(200, 200, 200, 0.4);
          color: #222;
          padding: 0.125rem;

          span {
            margin: 0.25rem;

            img {
              margin-right: 0.25rem;
            }
          }
        }
      }
    }
  }
}
