#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: transparent;
  transition: $bgColorTransition, $opacityTransition, $filterTransition;
  -webkit-transition: $bgColorTransition, $opacityTransition, $webkitFilterTransition;
  -o-transition: $bgColorTransition, $opacityTransition, $oFilterTransition;
  -moz-transition: $bgColorTransition, $opacityTransition, $mozFilterTransition;
  -ms-transition: $bgColorTransition, $opacityTransition, $msFilterTransition;
  opacity: var(--bg-canvas-opacity);
  filter: var(--bg-canvas-filter);
}
