section.content-section {
  background-color: var(--content-bg-color);
  transition: $bgColorTransition, $fontColorTransition;
  color: var(--content-font-color);
  box-shadow: $defaultBoxShadow;
  margin-bottom: 0.5rem;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }

  & .section-header {
    text-align: right;
    text-transform: uppercase;
    font-family: $secondaryFont;
    font-size: 2rem;
    border-bottom: 1px solid var(--content-accent-font-color);
    margin-bottom: 1rem;
  }

  // BORDER ANIMATION ON HOVER
  &::before, &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% + 4px);
    left: -2px;
    background-color: var(--content-accent-font-color);
    transform: scaleX(0);
    transition: transform 600ms ease-in;
  }
  &::before {top: -2px; transform-origin: left}
  &::after {bottom: -2px; transform-origin: right}
  &:hover::before, &:hover::after {transform: scaleX(1)}

  & > .border-transition-helper {
    padding: 1rem;

    &::before, &::after {
      content: "";
      position: absolute;
      height: calc(100% + 4px);
      width: 2px;
      top: -2px;
      background-color: var(--content-accent-font-color);
      transform: scaleY(0);
      transition: transform 600ms ease-in;
    }
    &::before {left: -2px; transform-origin: bottom}
    &::after {right: -2px; transform-origin: top}
    &:hover::before, &:hover::after {transform: scaleY(1)}
  }
  // ANIMATION END
}
