html {
  --page-bg-color: #aaa;
  --content-bg-color: #fff;
  --content-font-color: #222;
  --header-bg-color: #222;
  --header-font-color: #eee;
  --footer-bg-color: #222;
  --footer-font-color: #eee;
}
