html {
  --page-bg-color: rgba(200, 200, 200, 0);
  --content-bg-color: rgba(255, 255, 255, 0.8);
  --content-font-color: #222;
  --header-bg-color: rgba(40, 40, 40, 0.95);
  --header-font-color: #eee;
  --footer-bg-color: rgba(40, 40, 40, 0.95);
  --footer-font-color: #eee;
}
