html {
  --body-bg-color: #fff;
  --content-bg-color: rgba(255, 255, 255, 0.8);
  --content-font-color: #222;
  --header-bg-color: rgba(40, 40, 40, 0.9);
  --header-font-color: #eee;
  --footer-bg-color: rgba(40, 40, 40, 0.9);
  --footer-font-color: #eee;
}
