html {
  --body-bg: #eee;
  --content-bg-color: rgba(255, 255, 255, 0.8);
  --content-accent-font-color: #444;
  --content-font-color: #444;
  --header-bg-color: rgba(40, 40, 40, 0.9);
  --header-font-color: #eee;
  --footer-bg-color: rgba(40, 40, 40, 0.9);
  --footer-font-color: #eee;
  --bg-canvas-opacity: 1;
  --bg-canvas-filter: grayscale(100%) brightness(10%);
}
