html {
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 100;
  transition: $bgColorTransition, $opacityTransition, $borderColorTransition;
  outline: 0 none;
}

a, a:active, a:visited, a:hover, a:link, a:any-link {
  color: currentColor;
}

button, input[type="submit"], a.button, a.btn {
  border-radius: 8px;
  background-color: rgba(40, 40, 40, .2);
  padding: 0.5rem 0.75rem;
  color: var(--content-font-color);
  border: 1px solid var(--content-accent-bg-color);
  cursor: pointer;
  outline: 0 none;
  transition: background-color .4s $tranistionTimingFunction, $borderColorTransition;

  &:not(:disabled):hover, &:not(.loading):hover {
    background-color: var(--content-accent-bg-color);
    color: var(--body-bg);
  }

  &:disabled {
    opacity: .5;
  }

  &.loading:before {
    content: '';
    display: inline-block;
    margin-right: 8px;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 2px solid var(--content-accent-bg-color);
    border-top-color: transparent;
    animation: spin .8s linear infinite;

    keyframes spin {
      from {
        transform: rotate(0deg);
      } to {
        transform: rotate(360deg);
      }
    }
  }
}

input[type=text] {
  background-color: rgba(40, 40, 40, .2);
  padding: .25rem .5rem;
  border: none;
  color: var(--content-font-color);
  border-bottom: 1px solid var(--content-accent-bg-color);
  transition: $opacityTransition, $borderColorTransition, background-color .4s $tranistionTimingFunction;

  &:focus {
    background-color: var(--content-accent-bg-color);
    color: var(--body-bg);
  }
}
