html {
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 100;
  transition: $bgColorTransition, $opacityTransition, $borderColorTransition;
}

a, a:active, a:visited, a:hover, a:link, a:any-link {
  color: currentColor;
}

button, input[type="submit"], a.button, a.btn {
  border-radius: 6px;
  background: rgba(10, 10, 10, .25);
  padding: 0.5rem 0.75rem;
  color: var(--content-font-color);
  border: 1px solid var(--content-accent-bg-color);
  cursor: pointer;
  outline: 0 none;
  box-shadow: $defaultBoxShadow, inset $defaultBoxShadow;
  transition: background .4s $tranistionTimingFunction, $borderColorTransition;
  &:hover {
    background: rgba(10, 10, 10, .5);
  }
}
