footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-font-color);
  padding: 2rem 1rem;
  box-shadow: $defaultBoxShadow;
  display: flex;
  flex-direction: column;
  align-items: center;

  & #creator-name {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--footer-font-color);
    padding: 0 0.5rem;
  }

  & #links {
    &  a {
      cursor: pointer;
      background-color: rgba(200, 200, 200, 0.5);
      box-shadow: inset $defaultBoxShadow;
      text-decoration: none;
      padding: 0.5rem 0.75rem;
      margin: 0.125rem;
    }
  }
}
