main {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  justify-content: center;

  & > #main-wrapper {
    flex-grow: 1;
    width: 100%;
    max-width: $mainElementsMaxWidth;

    & > section {
      background-color: var(--content-bg-color);
      transition: $bgColorTransition, $fontColorTransition;
      color: var(--content-font-color);
      box-shadow: $defaultBoxShadow;
      padding: 0.5rem;
      margin-bottom: 0.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
